[Unit]
Description=Milk-V Duo S WiFi
DefaultDependencies=no
Before=network-pre.target
Wants=network-pre.target
Before=iwd.service
Before=bluetooth.service
After=systemd-modules-load.service local-fs.target milkv-first-boot.service

[Service]
Type=simple
ExecStart=/usr/bin/milkv-wireless-init

[Install]
WantedBy=multi-user.target