[Unit]
Description=Milk-V Duo S Bluetooth Service
DefaultDependencies=no
Wants=milkv-wifi.service
After=milkv-wifi.service systemd-modules-load.service local-fs.target dev-ttyS4.device

[Service]
ExecStart=/usr/bin/milkv-bt-init ttyS4

[Install]
WantedBy=multi-user.target